<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Practice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    <script src="{{ url_for('static', filename='app.js') }}" ></script>
</head>
<body>
    <header>
        Flask Practice
        <nav>
            <a href="{{url_for('home')}}">home</a>
            <a href="{{url_for('about')}}">about</a>
            {% if current_user.is_authenticated %}
            <a href="{{url_for('logout')}}">logout</a>
            <a href="{{url_for('account')}}">account</a>
            {#}<a href="{{url_for('edit_profile')}}">edit profile</a>{#}
            <a href="#">edit profile</a>
            {% else %}
            <a href="{{url_for('register')}}">register</a>
            <a href="{{url_for('login')}}">login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                    {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block main %}{% endblock %}
    </main>
</body>
</html>