{% extends 'base.html' %}
{% block main %}


<p>{{ contact.name }}
{{ contact.email }}
{{ contact.phone }}
{{ contact.subject }}
{{ contact.join }}</p>
<p>{{ contact.body }}</p>

<hr>

<h3> Threads for this contact </h3>

{% for channel in contact.channels %}
<div>

    <h2 style="display: inline;">{{ channel.title }}</h2>
    <h4 style="display: inline;">Thread started by {{ channel.channel_author.username }}</h4>
</div>
<p>Additional Notes:</p> <p>{{ channel.notes }}</p>


{% endfor %}


<h3>Start a thread for this contact...</h3>

<form action="" method="POST">
    {{ form.hidden_tag() }}

    <p>{{ form.title.label }}</p>
    <p>{{ form.title }} </p>

    <p> {{ form.notes.label }}</p>
    <p> {{ form.notes }}</p>

    <p>{{ form.submit }}</p>


</form>


{% endblock main %}