{% extends 'base.html' %}
{% block main %}

<h2>Register</h2>

<form action="" method="POST">
    
    {{ form.hidden_tag() }}
    
    <!-- Username -->
    <p>{{ form.username.label(class="c") }}</p>
    {% if form.username.errors %} <p>{{ form.username(class="c") }}</p> 
    {% for error in form.username.errors %}<span>{{ error }}</span> {% endfor %}
    {% else %} <p>{{ form.username(class="c") }}</p>
    {% endif %}
    
    <!-- Email -->
    <p>{{ form.email.label(class="c") }}</p>
    {% if form.email.errors %} <p>{{ form.email(class="c") }}</p>
    {% for error in form.email.errors %} <span>{{ error }} </span> {% endfor %}
    {% else %} <p>{{ form.email(class="c") }}</p>
    {% endif %}
    
    <!-- Password -->
    <p>{{ form.password.label(class="c") }}</p>
    {% if form.password.errors %} <p>{{ form.password(class="c") }}</p>
    {% for error in form.password.errors %} <span>{{ error }}</span> {% endfor %}
    {% else %} <p>{{ form.password(class="c") }}</p>
    {% endif %}
    
    <!-- Confirm Password -->
    <p>{{ form.confirm_password.label(class="c") }}</p>
    {% if form.confirm_password.errors %} <p>{{ form.confirm_password(class="c") }}</p> 
    {% for error in form.confirm_password.errors %} <span>{{ error }}</span> {% endfor %}
    {% else %} <p>{{ form.confirm_password(class="c") }}</p>
    {% endif %}
    
    <!-- Submit -->
    <p>{{ form.submit(class="c") }}</p>

</form>

{% endblock main %}

{#}{% if %}
    
{% for error in _.errors %}
    <span>{{ error }}</span>
{% endfor %}
{% else %}

{% endif %}{#}