{% extends 'base.html' %}
{% block main %}

<h2>Login</h2>

<form action="" method="POST">
    
    {{ form.hidden_tag() }}
    
    <!-- Email -->
    <p>{{ form.email.label(class="c") }}</p>
    {% if form.email.errors %} <p>{{ form.email(class="c") }}</p>
    {% for error in form.email.errors %} <span>{{ error }}</span> {% endfor %}
    {% else %} <p>{{ form.email(class="c") }}</p>
    {% endif %}
    
    <!-- Password -->
    <p>{{ form.password.label(class="c") }}</p>
    {% if form.password.errors %} <p>{{ form.password(class="c") }}</p>
    {% for error in form.password.errors %} <span> {{ error }}</span> {% endfor %}
    {% else %} <p>{{ form.password(class="c") }}</p>
    {% endif %}
    
    <!-- Remember Me? -->
    <p>{{ form.remember.label(class="c") }}
    {{ form.remember(class="c") }}</p>
    
    <!-- Submit -->
    <p>{{ form.submit(class="c") }}</p>

</form>

{% endblock main %}